# {{{packageNameRegistry}}}

{{#packageDescription}}> {{{packageDescription}}}{{/packageDescription}}

{{^isHidden}}Visit the documentation [{{{packageNameRegistry}}}]({{{packageHomepage}}}) for more information.{{/isHidden}}

### Install

Using npm:

```sh
npm install {{{packageNameRegistry}}}
```

or using yarn:

```sh
yarn add {{{packageNameRegistry}}}
```
